<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gas.module.price.mapper.OilSaleDataMapper">

    <resultMap id="OilSaleData" type="com.ruoyi.gas.module.price.domain.OilSaleData">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="gasStationId" column="gas_station_id"/>
        <result property="oilType" column="oil_type"
                typeHandler="com.ruoyi.gas.module.price.mapper.handler.OilTypeHandler"/>
        <result property="LNumber" column="l_number"/>
        <result property="KgNumber" column="kg_number"/>
        <result property="price" column="price"/>
        <result property="date" column="date"
                typeHandler="com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler"/>
        <result property="batch" column="batch"/>
    </resultMap>

    <select id="selectHistorySaleData" resultMap="OilSaleData">
        select *
        from `gas_station_sale_data`
        where `user_id` = #{userId}
        and `effective` = true
        order by `id` DESC
        <if test="startIndex != null &amp;&amp; amount != null">
            limit #{startIndex},#{amount}
        </if>
    </select>

    <select id="selectHistorySaleDataAmount" resultType="java.lang.Long">
        select count(*)
        from `gas_station_sale_data`
        where `user_id` = #{userId}
          and `effective` = true
    </select>

    <select id="selectSaleData" resultMap="OilSaleData">
        select *
        from `gas_station_sale_data`
        <where>
            <if test="id != null">and `id`=#{id}</if>
            <if test="userId != null">and `user_id`=#{userId}</if>
            <if test="gasStationId != null">and `gas_station_id` = #{gasStationId}</if>
            <if test="oilType != null">and `oil_type` =
                #{oilType,typeHandler=com.ruoyi.gas.module.price.mapper.handler.OilTypeHandler}
            </if>
            <if test="LNumber != null">and l_number = #{LNumber}</if>
            <if test="KgNumber != null">and `kg_number` = #{KgNumber}</if>
            <if test="price != null">and `price` = #{price}</if>
            <if test="date != null">and `date` = #{date}</if>
            <if test="batch != null">and `batch` = #{batch}</if>
            and `efffective` = TRUE;
        </where>
    </select>

    <insert id="addSaleData">
        insert into `gas_station_sale_data`(`user_id`, `gas_station_id`, `price`, `l_number`, `kg_number`, `oil_type`,
                                            `date`, `batch`)
            value (#{userId},#{gasStationId},#{price},#{LNumber},#{KgNumber},
            #{oilType,typeHandler=com.ruoyi.gas.module.price.mapper.handler.OilTypeHandler},
            #{date,typeHandler=com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler}, #{batch});
    </insert>

    <update id="deleteSaleData">
        update `gas_station_sale_data`
        set `effective` = 0
        where `id` = #{id};
    </update>

    <select id="selectAveragePrice" resultType="java.lang.Double">
        select sum(`price`) / count(`price`)
        from `gas_station_sale_data`
        where `user_id` = #{userId}
          and `gas_station_id` = #{gasStationId}
          and `effective` = true
          and `oil_type` = #{oilType,typeHandler=com.ruoyi.gas.module.price.mapper.handler.OilTypeHandler}
          and `date` &gt;= #{startTime,typeHandler=com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler}
          and `date` &lt;= #{endTime,typeHandler=com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler};
    </select>

    <select id="selectTotalSalesVolume" resultType="java.lang.Double">
        select sum(`l_number`)
        from `gas_station_sale_data`
        where `user_id` = #{userId}
          and `gas_station_id` = #{gasStationId}
          and `effective` = true
          and `oil_type` = #{oilType,typeHandler=com.ruoyi.gas.module.price.mapper.handler.OilTypeHandler}
          and `date` &gt;= #{startTime,typeHandler=com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler}
          and `date` &lt; #{endTime,typeHandler=com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler};
    </select>

    <update id="rollBackLastBatch">
        update `gas_station_sale_data`
        set `effective` = FALSE
        where `batch` = (select `a`.`max`
                         from (select max(`batch`) as `max`
                               from `gas_station_sale_data`
                               where `effective` = TRUE) as `a`
        );
    </update>

    <select id="selectLastBatch" resultType="java.lang.Integer">
        select max(`batch`)
        from `gas_station_sale_data`;
    </select>

    <select id="selectLastEffectiveBatch" resultType="java.lang.Integer">
        select max(`batch`)
        from `gas_station_sale_data`
        where `effective` = TRUE;
    </select>
</mapper>