<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gas.module.price.mapper.PricePeriodMapper">

    <resultMap id="Period" type="com.ruoyi.gas.module.price.domain.Period">
        <result property="id" column="id"/>
        <result property="startTime" column="start_time"
                typeHandler="com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler"/>
        <result property="endTime" column="end_time"
                typeHandler="com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler"/>
        <result property="isRise"     column="is_rise" />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <parameterMap id="Period" type="com.ruoyi.gas.module.price.domain.Period">
        <parameter property="id"/>
        <parameter property="startTime"
                typeHandler="com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler"/>
        <parameter property="endTime"
                typeHandler="com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler"/>
        <parameter property="isRise" />
        <parameter property="createBy"  />
        <parameter property="createTime" />
        <parameter property="updateBy" />
        <parameter property="updateTime" />
    </parameterMap>

    <select id="selectLastPeriod" resultMap="Period">
        select *
        from `gas_station_price_period`
        order by `id` DESC limit 0,#{periodNumber}
    </select>

    <select id="selectPeriod" resultMap="Period">
        select *
        from `gas_station_price_period`
        where `id` = #{id};
    </select>

    <select id="selectPeriodList" resultMap="Period">
        select *
        from `gas_station_price_period`
        where #{startTime} &lt;= start_time and end_time &lt;= #{endTime}
    </select>

    <insert id="addPeriod">
        insert into `gas_station_price_period`(`start_time`, `end_time`, `is_rise`, create_by, create_time, remark)
            value (#{startTime},#{endTime},#{isRise},#{createBy},sysdate(),#{remark})
    </insert>

    <delete id="deletePeriod">
        delete
        from `gas_station_price_period`
        where `id` = #{id};
    </delete>

    <update id="updatePeriod" parameterMap="Period">
        update `gas_station_price_period`
        <set>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="endTime != null">`end_time` = #{endTime},</if>
            <if test="isRise != null">`is_rise` = #{isRise},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where `id` = #{id}
    </update>
</mapper>
