<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gas.module.price.mapper.PricePeriodMapper">

    <resultMap id="periodMap" type="com.ruoyi.gas.module.price.domain.Period">
        <result property="id" column="id"/>
        <result property="startTime" column="start_time"
                typeHandler="com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler"/>
        <result property="rise"     column="rise" />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="selectLastPeriod" resultMap="periodMap">
        select *
        from `gas_station_price_period`
        order by `start_time` DESC limit 0,#{periodNumber}
    </select>

    <select id="selectPeriod" resultMap="periodMap">
        select *
        from `gas_station_price_period`
        where `id` = #{id}
    </select>

    <select id="selectPeriodList" resultMap="periodMap">
        select *
        from `gas_station_price_period`
        <where>
            <if test="startTime != null">and #{startTime} &lt;= start_time</if>
            <if test="endTime != null">and #{endTime} &gt;= start_time</if>
        </where>
        order by start_time DESC
    </select>
    <select id="selectPreviousPeriod" resultMap="periodMap">
        select *
        from `gas_station_price_period`
        where <if test="startTime != null">start_time &lt; #{startTime}</if>
        order by start_time DESC
        limit 1
    </select>
    <select id="selectNextPeriod" resultMap="periodMap">
        select *
        from `gas_station_price_period`
        where <if test="startTime != null">start_time &gt; #{startTime}</if>
        order by start_time
        limit 1
    </select>

    <insert id="addPeriod">
        insert into `gas_station_price_period`(`start_time`, `rise`, create_by, create_time, remark)
            value
            (#{startTime,typeHandler=com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler},
            #{rise},#{createBy},sysdate(),#{remark})
    </insert>

    <delete id="deletePeriod">
        delete
        from `gas_station_price_period`
        where `id` = #{id};
    </delete>

    <update id="updatePeriod" parameterType="com.ruoyi.gas.module.price.domain.Period">
        update `gas_station_price_period`
        set
            `start_time` = #{startTime,typeHandler=com.ruoyi.gas.module.price.mapper.handler.DateTimeHandler},
            `rise` = #{rise},
            remark = #{remark},
            update_by = #{updateBy},
            update_time = sysdate()
        where `id` = #{id}
    </update>
</mapper>
