<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gas.module.price.mapper.UserPeriodMapper">

    <resultMap id="UserPeriod" type="com.ruoyi.gas.module.price.domain.UserPeriod">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="gasStationId" column="gas_station_id"/>
        <result property="timeStamp" column="time_stamp"/>
    </resultMap>

    <select id="selectUserPeriod" resultMap="UserPeriod">
        select *
        from `gas_station_user_period`
        <where>
            <if test="condition.id != null">`id` = #{condition.id} and </if>
            <if test="condition.userId != null">`user_id` = #{condition.userId} and</if>
            <if test="condition.gasStationId != null">`gas_station_id` = #{condition.gasStationId} and</if>
            <if test="condition.timeStamp != null">`time_stamp` = #{condition.timeStamp} and</if>
            1=1
        </where>
        <if test="orderField != null &amp;&amp; isDesc != null">
            order by ${orderField}
            <choose>
                <when test="isDesc == true">Desc</when>
                <otherwise>ASC</otherwise>
            </choose>
        </if>
        <if test="startIndex != null &amp;&amp; amount != null">
            limit #{startIndex},#{amount}
        </if>
    </select>

    <insert id="insertUserPeriod">
        insert into `gas_station_user_period`(`user_id`, `gas_station_id`, `time_stamp`)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.userId},#{item.gasStationId},#{item.timeStamp})
        </foreach>
    </insert>

    <delete id="deleteUserPeriod">
        delete from `gas_station_user_period`
        <where>
            <if test="id != null">`id` = #{id} and</if>
            <if test="userId != null">`user_id` = #{userId} and</if>
            <if test="gasStationId != null">`gas_station_id` = #{gasStationId} and</if>
            <if test="timeStamp != null">`time_stamp` = #{timeStamp} or</if>
            1=0
        </where>
    </delete>

    <select id="selectAmountOfData">
        select count(*)
        from `gas_station_user_period`
        <where>
            <if test="id != null">`id` = #{id}</if>
            <if test="userId != null">`user_id` = #{userId}</if>
            <if test="gasStationId != null">`gas_station_id` = #{gasStationId}</if>
            <if test="timeStamp != null">`time_stamp` = #{timeStamp}</if>
        </where>
    </select>

</mapper>
